.group-collapsible {
    margin-top: 17px;
    margin-left: 17px;

    .collapsible {
        color: $granat;
        cursor: pointer;
        padding: 0 18px;
        border: none;
        text-align: left;
        outline: none;
        font-size: 1.4rem;
        line-height: 2.1rem;
        font-family: $euclidRegular;
        position: relative;
        display: table;
    
        &:after {
            position: absolute;
            margin-left: 10px;
            content: "▼";
            color: $red;
        }

        &.active-collapsible {
            &:after {
                content: "▲";
            }
        }
    
    }
    
    .content {
        display: none;
        overflow: hidden;
        
        p {
            font-size: 1.4rem;
            line-height: 2.1rem;
            font-family: $euclidRegular;
            color: $granat;
            padding: 0 18px;
        }
    }
}