@font-face {
    font-family: "EuclidCircularB-Light";
    src: url("../fonts/EuclidCircularB-Light.otf") format("opentype"),
        url("../fonts/EuclidCircularB-Light.ttf") format("truetype");
}

@font-face {
    font-family: "EuclidCircularB-Regular";
    src: url("../fonts/EuclidCircularB-Regular.otf") format("opentype"),
        url("../fonts/EuclidCircularB-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "EuclidCircularB-Medium";
    src: url("../fonts/EuclidCircularB-Medium.otf") format("opentype"),
        url("../fonts/EuclidCircularB-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "EuclidCircularB-Light";
    src: url("../fonts/EuclidCircularB-Light.otf") format("opentype"),
        url("../fonts/EuclidCircularB-Light.ttf") format("truetype");
}

@font-face {
    font-family: "EuclidCircularB-Semibold";
    src: url("../fonts/EuclidCircularB-Semibold.otf") format("opentype"),
        url("../fonts/EuclidCircularB-Semibold.ttf") format("truetype");
}

@font-face {
    font-family: "EuclidCircularB-Bold";
    src: url("../fonts/EuclidCircularB-Bold.otf") format("opentype"),
        url("../fonts/EuclidCircularB-Bold.ttf") format("truetype");
}